<!-- <p>covid-services works!</p>
<h1>Hello</h1> -->
<br><br>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="/assets/images/coronavirus-image4.jpg"  width="100%" alt="lab1">
          </div>
        </div>
</div>


        <div class="container-fluid">
            <h1>Coronavirus Services</h1>
         <div class="nav">

            <ul class="nav navbar-nav">
              <li ><a class="hello" href="https://www.who.int/health-topics/coronavirus">Coronavirus</a></li>

              <li ><a class="hello" href="https://www.tmf-group.com/en/news-insights/coronavirus/government-support-schemes/">Schemes</a></li>

              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Health Insurance <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a  href="https://www.policybazaar.com/health-insurance/coronavirus-health-insurance/">Policybazaar</a></li>
                  <li><a  href="https://www.tataaig.com/health-insurance">Tata AIG</a></li>
                  <li><a href="https://www.aegonlife.com/insurance-plans/covid-19-insurance-policy">Aegon Life</a></li>
                </ul>
              </li>
              </ul>
          </div>
        </div>
        
        
    


       
